.mainSection {
  background-color: #121212;
  position: fixed;
  left: 230px;
  top: 80px;
  width: calc(100% - 300px);
  overflow-wrap: break-word;
  word-wrap: break-word;
  height: 100vh;
  padding: 50px;
  color: aliceblue;
}
